html,body{margin:0;padding:0;background:#e8e8e8}

#container { width:980px; margin:0 auto;   }

.third {
    width:260px;
    margin:0 20px 20px 0;
    overflow:hidden;
    float:left;
    position:relative;
}

.third img { display:block; }

.top { position:absolute; top:0; left:0; z-index:10}

.last { margin-right:0; }